body
  background-color #000
  margin 0px
  padding 0px
  color #fff
  font-size 16px
  line-height 1.6
  overflow hidden
  font-family 'Futura PT', sans-serif
  @media screen and (max-width: 1050px)
    font-size 14px
  @media screen and (max-width: 768px)
    font-size 12px
h2
  font-weight bold
  font-size 3em
p
  font-size 1.4em
  margin-bottom 1.2rem
svg
  font-weight bold
  max-width 500px
.viewer
  position: relative
  z-index: 1
  opacity 0
  animation fade-in 1s ease-in-out forwards 7.75s
.fade-out
  opacity 1
  animation fade-opacity .3s ease-in-out forwards!important
.ui-container
  position:  absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background #6db0e0 /* Old browsers */
  background linear-gradient(to bottom,  #6db0e0 0%,#2989d8 32%,#3e5490 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // background transparent
  animation fade-out 1s ease-in-out forwards 7.75s
.welcome-screen
  padding 2em
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  background rgba(#6db0e0, .8) /* Old browsers */
  background linear-gradient(to bottom,  rgba(#6db0e0, .8) 0%,rgba(#2989d8, .8) 32%,rgba(#3e5490, .8) 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  z-index 4
  opacity 0
  animation fade-in 1s ease-in-out forwards 8.75s
  text-align center
  .message-wrapper
    position absolute
    top 50%
    transform translateY(-50%)
    left 30%
    right 30%
    max-width 550px
    margin 0 auto
    h2
      margin-top 0
      line-height 1.2
      margin-bottom 1rem
    .start-button
      padding 1em 2em
      background white
      border-radius .5em
      color #3e5490
      display inline-block
      font-weight bold
      cursor pointer
      width 50%
      margin 0 auto
      .fa
        margin-right .25em
        font-size 2em
      .text
        vertical-align top
        display inline-block
        padding-top .25em
      &:before
        content ''
        display inline-block
        position absolute
        bottom -130px
        left -78px
        height 130px
        width 78px
        transform rotate(90deg)
        background-image url('../assets/img/left-marquee.svg')
        background-repeat no-repeat
        background-size cover
        background-position bottom
      &:after
        content ''
        display inline-block
        position absolute
        top -65px
        right -78px
        height 0
        max-height 130px
        width .25em
        background #fff
        animation grow-height .5s ease-in-out forwards 8.8s
    &:before
      content ''
      display inline-block
      position absolute
      top -130px
      left -78px
      height 130px
      width 78px
      transform rotate(-90deg)
      background-image url('../assets/img/left-marquee.svg')
      background-repeat no-repeat
      background-size cover
    &:after
      content ''
      display inline-block
      position absolute
      bottom -130px
      right -78px
      height 130px
      width 78px
      transform rotate(90deg)
      background-image url('../assets/img/left-marquee.svg')
      background-repeat no-repeat
      background-size cover
.happy-holidays
  position absolute
  top 5em
  left 5em
  right 5em
  bottom 7em
  max-width 500px
  margin 0 auto
  overflow hidden
  transform translateY(200%)
  animation enter-bottom 4s ease-in-out forwards 3.75s
  background-size contain
  background-position center
  background-image url('../assets/img/happy-holidays.svg')
  background-repeat no-repeat
.cat-controls
  position absolute
  bottom calc(4em + 50px)
  left 0
  right 0
  text-align center
  z-index 3
  opacity 0
  animation fade-in 1s ease-in-out forwards 8.75s
  .key
    width 3em
    height 3em
    border-radius 100%
    // background white
    position relative
    display inline-block
    cursor pointer
    &.slider
      width 12em
      vertical-align top
      position relative
      height 3em
      margin 0 1em
      background-image url('../assets/img/slider.svg')
      background-position center
      background-repeat no-repeat
      background-size contain
      input[type=range]
        -webkit-appearance none
        width 58%
        position absolute
        left 19%
        top 50%
        transform translateY(-50%)
        height 2em
        z-index 3
        background transparent
        &:focus
          outline none
        &::-ms-track
          width: 100%
          cursor: pointer
          background: transparent
          border-color: transparent
          color: transparent
        &::-webkit-slider-thumb
          -webkit-appearance none
          height 1em
          width 1em
          border-radius 100%
          background #fff
          box-shadow 0 0 3px rgba(black, .5)
          cursor pointer
        &::-moz-range-thumb
          height 1em
          width 1em
          border-radius 100%
          background #ccc
          cursor pointer
          box-shadow 0 0 3px rgba(black, .5)
        &::-ms-thumb
          height 1em
          width 1em
          border-radius 100%
          background #ccc
          cursor pointer
          box-shadow 0 0 3px rgba(black, .5)
  #paw
    margin-left 1em
    background-image url('../assets/img/paw.svg')
  #mountains
    background-image url('../assets/img/mountain.svg')
.loading-message
  color white
  position absolute
  top 50%
  transform translateY(-50%)
  right 30%
  left 30%
  text-align center
  animation clear-right .75s ease-in-out forwards 4s
  span
    text-transform: uppercase
    font-size 1.5em
    font-weight bold
    margin-bottom .75em
    position relative
    width 100%
    // display inline-block
    display none    
    &:after
      content ''
      position absolute
      left 15%
      right 15%
      bottom -.25em
      height .15em
      background-color white
      display inline-block
    &:before
      background-image url('../assets/img/loading-asset.svg')
      background-size contain
      background-repeat no-repeat
      content ''
      position absolute
      left 15%
      right 15%
      bottom -.25em
      height 1em
  .loading-progress
    text-align center
    position absolute
    top 50%
    left 0
    right 0
    max-width 500px
    margin 0 auto
    .progress-bar
      display inline-block
      margin-left 12%
      width 30%
      height 1em
      background #3F91B4
      position relative
      &:after
        position absolute
        content ''
        left 0
        width 0
        top 0
        bottom 0
        background-color #31ABBA
        animation grow-width 3s ease-in-out forwards 1s
    .progress-text
      color #31ABBA
      text-transform uppercase
      font-size .75em
      font-weight bold
      margin-left 10%
.border-animation
  position absolute
  top 2em
  left 2em
  right 2em
  bottom 2em
  overflow hidden
  .border-top
    height .25em
    background white
    position relative
    left 2em
    right 0
    top 0
    width 0
    z-index 3
    animation grow-width 1s ease-in forwards 1.5s
  .border-right
    height 0px
    width .25em
    background white
    position absolute
    right 0
    top 0
    max-height calc(100% - 50px)
    overflow hidden
    z-index 3
    animation grow-height 1s ease-in forwards 1.5s
  .border-bottom
    position absolute
    z-index 3
    bottom 0
    right 0
    left 0
    height .25em
    .social-wrap
      position absolute
      top -1.75em
      left 1em
      padding 0 .25em
      font-size 3em
      span
        position relative
        width 1em
        height 1em
        &:before
          position absolute
          top 0
          left 0
          right 0
          bottom 0
          overflow hidden
        &:not(:last-child)
          margin-right .25em
    .logo-wrap
      position absolute
      right 10%
      left 68%
      top -100px
      bottom 0
      background-image url('../assets/img/bottom-marquee.svg')
      background-repeat no-repeat
      width 22%
      padding-top 5%
      height 0
    &:before
      position absolute
      content ''
      bottom 0
      top -50px
      left calc(90% + 1em)
      right 0
      height .25em
      width 0
      background white
      animation grow-width .5s ease-in forwards 1.5s
    &:after
      position absolute
      content ''
      bottom 0
      top -50px
      left 16em
      right 32%
      height .25em
      width 0
      max-width calc(68% - 17em)
      background white
      display inline-block
      overflow hidden
      animation grow-width .5s ease-in forwards 2s
  .border-left
    position absolute
    top 0
    bottom 0
    left 0
    z-index 3
    height 100%
    width 100px
    .marquee-wrap
      position absolute
      left 0
      right 0
      top 20%
      bottom 20%
      background-image url('../assets/img/left-marquee.svg')
      background-repeat no-repeat
    &:before
      position absolute
      max-height 15%
      content ''
      bottom 85%
      top 0
      left 30px
      width .25em
      height 0
      background white
      animation grow-height .5s ease-in forwards 1.5s
    &:after
      position absolute
      content ''
      bottom 50px
      top 100%
      left 30px
      // height 100%
      width .25em
      background white
      display inline-block
      overflow hidden
      animation grow-left .5s ease-in forwards 2s
@keyframes grow-width
  from 
    width 0
  to
    width 100%
@keyframes grow-bottom
  from 
    width 0
    left 200%
  to
    width 100%
    left 2em
@keyframes grow-left
  from 
    top 100%
  to 
    top 85%
@keyframes grow-height
  from 
    height 0
  to
    height 100%
@keyframes clear-right
  to
    left 1000%
@keyframes enter-bottom
  0%
    transform translateY(200%)
  60%
    transform translateY(0)
  80%
    transform translateY(0)
  100%
    transform translateY(-200%)
@keyframes fade-out
  to 
    background transparent
@keyframes fade-in
  from
    opacity 0
  to 
    opacity 1
@keyframes fade-opacity
  from
    opacity 1
  to 
    opacity 0